<html>
<body style="font-family:arial;text-align:center">
<div style="width:50%;">
    <img border="0" src="http://server01-4fuse.rhcloud.com/assets/img/imgLogo.png">
    <h2>Inovarvm informa, sua senha foi alterada.</h2>
    <p>A sua senha foi alterada em nosso site, caso n&atilde;o foi voc&ecirc; que realizou esta a&ccedil;&atilde;o clique no link abaixo</p>
    <p>Este link tem a validade de <b>3 dias</b>, ao termino do periodo a senha dever&aacute; ser alterada na p&aacute;gina principal do nosso site.</p>
    <p><a href="http://inovarvm.4fuse.com.br/forgot-password/{{REFRESH_TOKEN}}" target="_blank">Alterar senha de acesso</a></p>
</div>
</body>
<html>
