<html>
<body style="font-family:arial;text-align:center">
<div style="width:50%;">
    <img border="0" src="http://server01-4fuse.rhcloud.com/assets/img/imgLogo.png">
    <h2>Nova senha de acesso</h2>
    <p>Para acessar o seu perfil utilize a seguinte chave de acesso <b>{{KEY}}</b> no campo senha do formul&aacute;rio de aut&ecirc;ntica&ccedil;&atilde;o na p&aacute;gina inicial do site.</p>
    <p>Esta senha foi gerada autom&aacute;ticamente no nosso site, atrav&eacute;s do formul&aacute;rio para recuperar o acesso ao site Inovarvm.</p>
    <p><a href="http://inovarvm.4fuse.com.br/" target="_blank">http://inovarvm.4fuse.com.br/</a></p>
</div>
</body>
<html>
